In [1]:
import numpy as np
import pandas as pd

In [2]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])   #Manually providing indexes.
obj3

0      blue
2    purple
4    yellow
dtype: object

In [4]:
obj3.reindex(range(6))

0      blue
1       NaN
2    purple
3       NaN
4    yellow
5       NaN
dtype: object

In [5]:
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [16]:
obj4 = pd.Series(['blue', 'purple', 'yellow',"Abu Bakar","Umar",'Usman','Ali','Hussain'], index=[0, 4, 6,10,14,18,22,26])   #Manually providing indexes.
obj4

0          blue
4        purple
6        yellow
10    Abu Bakar
14         Umar
18        Usman
22          Ali
26      Hussain
dtype: object

In [18]:
obj4.reindex(range(30))

0          blue
1           NaN
2           NaN
3           NaN
4        purple
5           NaN
6        yellow
7           NaN
8           NaN
9           NaN
10    Abu Bakar
11          NaN
12          NaN
13          NaN
14         Umar
15          NaN
16          NaN
17          NaN
18        Usman
19          NaN
20          NaN
21          NaN
22          Ali
23          NaN
24          NaN
25          NaN
26      Hussain
27          NaN
28          NaN
29          NaN
dtype: object

In [20]:
obj4.reindex(range(30), method='ffill')    #previous index value will be filled forward.

0          blue
1          blue
2          blue
3          blue
4        purple
5        purple
6        yellow
7        yellow
8        yellow
9        yellow
10    Abu Bakar
11    Abu Bakar
12    Abu Bakar
13    Abu Bakar
14         Umar
15         Umar
16         Umar
17         Umar
18        Usman
19        Usman
20        Usman
21        Usman
22          Ali
23          Ali
24          Ali
25          Ali
26      Hussain
27      Hussain
28      Hussain
29      Hussain
dtype: object

In [21]:
obj4.reindex(range(30), method='bfill')   #Next index value will be filled backward.

0          blue
1        purple
2        purple
3        purple
4        purple
5        yellow
6        yellow
7     Abu Bakar
8     Abu Bakar
9     Abu Bakar
10    Abu Bakar
11         Umar
12         Umar
13         Umar
14         Umar
15        Usman
16        Usman
17        Usman
18        Usman
19          Ali
20          Ali
21          Ali
22          Ali
23      Hussain
24      Hussain
25      Hussain
26      Hussain
27          NaN
28          NaN
29          NaN
dtype: object

In [28]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                    index=['a', 'c','d'],
                    columns=['Ohio', 'Texas', 'California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [29]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [34]:
'b' in frame2

False

In [39]:
'Ohio' in frame2   # Columns are the target.

True

In [40]:
'a' in frame2

False

In [43]:
frame2.iloc[2]

Ohio          3.0
Texas         4.0
California    5.0
Name: c, dtype: float64